# Visual Studio
.vs/

# Build folders
**/bin/
**/obj/


TMAProject/wwwroot/images/categories/
TMAProject/wwwroot/images/Products/


# User-specific files
*.user
*.suo

# Rider / VS Code (اختياري)
.vscode/
.idea/

# ASP.NET logs
*.log