# Visual Studio
.vs/

# Build folders
**/bin/
**/obj/

wwwroot/images/categories/
wwwroot/images/Products/

# User-specific files
*.user
*.suo

# Rider / VS Code (اختياري)
.vscode/
.idea/

# ASP.NET logs
*.log